<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arms_urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import arms_urdf urdf file -->
    <xacro:include filename="$(find arms_urdf)/urdf/T170A_ARM.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="arms_urdf.ros2_control.xacro" />


    <xacro:arms_urdf_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
